* {
	margin: 0;
	padding: 0;
}
html,
body {
	font-family: Tahoma, Arial, sans-serif;
}
.page-header {
	background-color: #9B5C5A;
	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(to right, #812D46, #A56F66);
}
h1 {
	padding-left: 100px;
	padding-top: 100px;
	color: #fff;
	font-size: 3em;
}
.page-header p {
	padding-left: 100px;
	padding-top: 10px;
	color: #fff;
	font-size: 1.5em;
}
.page-header button {
	margin-top: 20px;
	margin-left: 100px;
	margin-bottom: 200px;
	width: 130px;
	height: 30px;
	color: #fff;
	background-color: #5E95CD;
	border-radius: 5px;
}
.phone-image {
	float: right;
	position: relative;
	top: -150px;
	right: 150px;
	width: 250px;
	height: 400px;
	background-color: #fff;
	border-radius: 20px 20px 0 0;
}
.screen-image {
	position: absolute;
	top: 100px;
	left: 22px;
	width: 200px;
	height: 300px;
	background-color: #515153;
}
.camera {
	position: absolute;
	top: 12px;
	left: 47%;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: #515153;
}
.microphone {
	position: absolute;
	top: 35px;
	left: 39%;
	width: 50px;
	height: 5px;
	border-radius: 5px;
	background-color: #515153;
}
.icon-section {
	background-color: #fff
}
.icon-section img {
	position: absolute;
	margin-top: 15px;
	margin-left: -20px;
	width: 40px;
}
.patience-icon {
	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	border: 1px solid gray;
}
.responsive-icon {
	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	border: 1px solid gray;
}
.design-icon {
	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	border: 1px solid gray;
}
.patience {
	float: left;
	padding: 70px;
	width: 21%;
	text-align: center;
	font-size: 0.8em;'
}
.responsive {
	float: left;
	padding: 70px;
	width: 21%;
	text-align: center;
	font-size: 0.8em;
}
.design {
	float: left;
	margin-top: -150px;
	padding: 70px;
	width: 21%;
	text-align: center;
	font-size: 0.8em;
}
.icon-section h2 {
	color: black;
}
.icon-section p {
	padding-top: 20px;
	color: #515153;
}
.buy-section {
	clear: both; /*not sure if thath's right*/
	background-color: #E8776B;
}
.buy-section p {
	color: #fff;
	padding: 40px 40px 40px 80px;
}
/* cant position buy botton normally*/
.buy-button { 
	position: absolute;
	margin-top:  -6%;
	margin-left: 85%;
	float: right;
	width: 100px;
	height: 30px;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	padding-top: 7px;
}
.about-section {
	display: inline-block;
	background-color: #5E95CD;
	padding: 100px;
}
.about-section img {
	width: 30%;
}
.paragraph {
	float: right;
	width: 50%;
	color: #fff;
}
.price-section {
	background-color: #fff;
}
.price-section table {
	border: 1px solid gray;
	margin: 0 auto;
	margin-top: 50px; 
	margin-bottom: 50px;
	width: 80%;
	text-align: center;
	color: gray;
}
td {
	border: 1px solid gray;
	padding: 10px;
}
.first-row {
	background-color: #E1E1E1;
}
.first-row td:nth-child(2) {
	background-color: #E8776B;
	color: #fff;
}
.second-row {
	background-color: #EEEEEE;
	color: #E8776B;
	font-size: 1.1em;
}
.fourth-row {
	background-color: #EEEEEE;
}
.sixth-row {
	background-color: #EEEEEE;
}
.signup-button-red {
	width: 160px;
	height: 25px;
	margin: 0 auto;
	color: #fff;
	background-color: #E8776B;
	border-radius: 5px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
	font-size: 0.8em;
}
.signup-section	{
	background: linear-gradient(to left, #561244, #B06F60);
	padding: 50px;
	color: white;
	margin: 0 auto;
}
.signup-section p {
	text-align: center;
}
.signup-section input {
	display: inline-block;
	margin-top: 10px;
	margin-left: 35%; /* not sure*/
	width: 220px;
	height: 20px;
}
.signup-button-blue {
	display: inline-block;
	width: 100px;
	height: 20px;
	color: #fff;
	background-color: #5E95CD;
	border-radius: 5px;
	text-align: center;
	padding-top: 5px;
	font-size: 0.6em;
}
.signup-button-blue,
.signup-button-red,
.view-button:hover {
	cursor: pointer;
}
.profile-section {
	color: gray;
	padding: 50px;
	margin-left: 30%; /* margin: 0 auto doesnt work*/;
}
.profile-photo img {
	display: inline-block;
	float: left;
	width: 130px;
	height: 120px;
	border-radius: 100%;
}
.profile-info {
	display: inline-block;
	margin-left: 30px;
	margin-top: 20px;
}
.view-button {
	width: 130px;
	height: 15px;
	color: #fff;
	background-color: #E8776B;
	border-radius: 5px;
	text-align: center;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 0.8em;
}
.page-footer {
	background-color: #e8776b;
	color: #fff;
	font-size: 0.7em;
	padding: 20px;
}
.page-footer p {
	float: left;
	padding-left: 100px;
}
/* doesnt work..*/
.social-buttons {
	float: right;
	position: relative;
	background: url(img/sprite.png);
}
.mail {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-position: 0 20px;
	border: 1px solid black;
	border-radius: 100%;
}
.facebook {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-position: 0 20px;
	border: 1px solid black;
	border-radius: 100%;
}
.twitter {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-position: 0 50px;
	border: 1px solid black;
	border-radius: 100%;
}